

<footer>
    <link rel="stylesheet" href="../../stylesheets/e.css">
        
    <h3>Locales</h3>


<div class="mapa">
<a href="https://www.google.com/maps/place/Veva+SA/@-34.5699167,-58.447185,17z/data=!3m1!4b1!4m5!3m4!1s0x95bcb5c6bb790fad:0xc1e0af0703436a48!8m2!3d-34.5699167!4d-58.4449963" class="ubicacion"><img src="img/ubicacion.png" alt="" class="google-map"> </a>
</div>


<h3>Seguinos en nuestras redes</h3>

<div class="redes">
<img src="img/ig.png" alt="" class="redes-logo">

<img src="img/fb.png" alt=""
class="redes-logo">

</div>




    <h3>Horarios</h3>


<p class="horarios">
    <b>Lunes:</b>                 12:00 - 23:30<br>
    <b>Martes:</b>               12:00 - 23:30<br>
    <b>Miércoles:</b>          12:00 - 23:30<br>
    <b>Jueves:</b>                12:00 - 23:30<br>
    <b>Viernes:</b>               12:00 - 23:30<br>
    <b>Sabado:</b>              12:00 - 23:30<br>
    <b>Domingo:</b>          12:00 - 23:30<br></p>




</footer>

</body>
</html>
