<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta charset="UTF-8">
    <!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="../stylesheets/formularios.css">
</head>
<body>
    <%- include('./partials/header') %> 

    <div class="container">
        <div class="col-12">
        <h1 class="titulo-producto">Carga de Productos</h1>
        </div>
        <div class="row formulario-producto">
                <form action="/products/create" method="POST"  enctype="multipart/form-data" class="row">
                    <div class="col-12 col-md-4">
                        <div class="preview-imagen">
                            <span>Preview Imágen</span>
                        </div>
                        <input type="file" name="image" hidden="hidden">
                        <button type="button" id="custom-button" class="foto-producto-boton">Elige una foto del producto</button>
                    </div>
                    <div class="col-12 col-md-8">
                        <div class="col-12 col-md-10">
                            <label for="product" class="formulario-label">Nombre del Producto:</label>
                            <input type="text" name="product" class="formulario-input-producto">
                        </div>
                        <div class="col-12 col-md-10">
                            <label for="categoria" class="formulario-label">Categoría:</label>
                            <input type="text" name="categoria" class="formulario-input-producto">
                        </div>
                        <div class="col-12 col-md-10">
                            <label for="subcategoria" class="formulario-label">Sub Categoria:</label>
                            <input type="text" name="subcategoria" class="formulario-input-producto">
                        </div>
                        <div class="col-12 col-md-10">
                            <label for="precio" class="formulario-label">Valor del Producto:</label>
                            <input type="text" name="precio" class="formulario-input-producto">
                        </div>
                        <div class="col-12 col-md-10">
                            <label for="marca" class="formulario-label">Marca:</label>
                            <input type="text" name="marca" class="formulario-input-producto">
                        </div>
                        <div class="col-12 col-md-10">
                            <label for="unidadesDisponibles" class="formulario-label">Unidades disponibles:</label>
                            <input type="text" name="unidadesDisponibles" class="formulario-input-producto">
                        </div>
                        <div class="col-12 col-md-10">
                            <label for="descripcion" class="formulario-label">Descipción:</label>
                            <textarea name="descripcion" id="descripcion" class="formulario-input-producto"></textarea>
                        </div>
                    </div>
                            <div class="col-12">
                                <button type="submit" class="registrar-boton">Cargar Producto</button>
                            </div>
                </form>
        </div>
    </div>
	<!-- /todos los productos -->

	<%- include('./partials/footer') %> 