<%- include('./partials/header') %> 
<section>
    
    <article class="banner-container">
        
            <img  src="images/promo.jpg" alt="" class="promo">
        
    </article>

    <div class="art-container">

    <article class="art1">

        <div class="producto">

            <img src="images/birra.jpg" alt="" class="foto-producto">

            <h2>Cerveza Artesanal</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore ducimus animi veritatis laborum illum esse accusantium! Dolorem voluptatem quaerat numquam hic ab, sint delectus asperiores, ratione exercitationem repellendus dolor explicabo?</p>
        </div>


    </article>

    <article class="art1">

        <div class="producto">
            <img src="images/whiskey.jpg" alt="" class="foto-producto">

            <h2>Whiskey</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore ducimus animi veritatis laborum illum esse accusantium! Dolorem voluptatem quaerat numquam hic ab, sint delectus asperiores, ratione exercitationem repellendus dolor explicabo?</p>
        </div>


    </article>


    <article class="art1">

        <div class="producto">
            <img src="images/ron.jpg" alt="" class="foto-producto">

            <h2>Ron</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore ducimus animi veritatis laborum illum esse accusantium! Dolorem voluptatem quaerat numquam hic ab, sint delectus asperiores, ratione exercitationem repellendus dolor explicabo?</p>
        </div>


    </article>

    <article class="art1">  

        <div class="producto">
            <img src="images/vodka.jpg" alt="" class="foto-producto">

            <h2>Vodka</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore ducimus animi veritatis laborum illum esse accusantium! Dolorem voluptatem quaerat numquam hic ab, sint delectus asperiores, ratione exercitationem repellendus dolor explicabo?</p>
        </div>


    </article>
</div>

</section>

<%- include('./partials/footer') %> 